<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>
    </head>
    <body>
        <style>
        .timer, .bg-danger, .bg-warning, .bg-success {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 100px;
            height: 100px;
        }

        .timer {
            background-color: black;
            color: white;
        }


        .bg-danger.active {
            background-color: red;
        }
        .bg-warning.active {
            background-color: yellow;
        }
        .bg-success.active {
            background-color: green;
        }

        </style>
        <div id="root">
        </div>
        <script type="text/babel">
        class Timer extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                return(
                    <div className="timer"><h1>{this.props.seconds}</h1></div>
                )
            }
        }
        
        class RedLight extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                var className;
                if (this.props.lightState == 1)
                    className = "bg-danger active";
                else
                    className = "bg-danger";
                return(
                    <div className={className}></div>
                )
            }
        }

        class YellowLight extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                var className;
                if (this.props.lightState == 2)
                    className = "bg-warning active";
                else
                    className = "bg-warning";
                return(
                    <div className={className}></div>
                )
            }
        }
        
        class GreenLight extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                var className;
                if (this.props.lightState == 3)
                    className = "bg-success active";
                else
                    className = "bg-success";
                return(
                    <div className={className}></div>
                )
            }
        }

        class TrafficLight extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                return(
                    <div>
                        <h1>交通紅綠燈</h1>
                        <Timer seconds={this.props.seconds} />
                        <RedLight lightState={this.props.lightState} />
                        <YellowLight lightState={this.props.lightState} />
                        <GreenLight lightState={this.props.lightState} />
                    </div>
                )
            }
        }

        const maxSeconds = 10;
        var seconds = maxSeconds;
        var lightState = 1;

        function operatesTrafficLight() {
            if (seconds == 0) {
                if (lightState<3) 
                    lightState++;
                else
                    lightState = 1;
                seconds = maxSeconds;
            }

            ReactDOM.render(
                <TrafficLight seconds={seconds} lightState={lightState} />,
                document.getElementById("root")
            );

            seconds--;
        }

        setInterval(operatesTrafficLight, 1000);
        </script>
    </body>
</html>